<div class="ui segment">
    <div class="ui statistics four">
        <div class="statistic"></div>
        <div class="statistic">
            <div class="text value">
                12:34<br>
                12/02/2019
            </div>
            <div class="label">
                First Seen
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                12:34<br>
                12/02/2019
            </div>
            <div class="label">
                Last Seen
            </div>
        </div>
        <div class="statistic"></div>
    </div>
    <div style="margin-top:1em">
        <button class="ui red button" onclick="deleteDevice('<%= deviceID %>')">
            <i class="icon trash"></i> Delete Device
        </button>
    </div>
</div>